@font-face {
    font-family: Bold;
    src: url("./fonts/Poppins-ExtraBold.ttf");
}

@font-face {
    font-family: sBold;
    src: url("./fonts/Poppins-Bold.ttf");
}


@font-face {
    font-family: Medium;
    src: url("./fonts/Poppins-Medium.ttf");
}

@font-face {
    font-family: Regular;
    src: url("./fonts/Poppins-Regular.ttf");
}

*{
    margin: 0%;
    padding: 0%;
    border: 0ch;
    position: static;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: Regular;
}

.root,body,html{
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 769px) {
    .root_inner{
        display: flex;
        padding: 3% 0% 0% 0%;
        justify-content: space-around;
        height: 100%;
    }
    
    .root{
        background-image: url("./images/bg-intro-desktop.png");
        background-color: hsl(0, 100%, 74%);
        background-size: cover;
    }
    
    
    .root_inner .left{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        color: white;
    
    }
    
    .root_inner .left h1{
        font-size: 50px;
        line-height: 60px;
        font-family: Bold;
    }
    
    .right{
        max-height: 80%;
        width: 40%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .right .try-now{
        width: 100%;
        height: 60px ;
        background-color: hsl(248, 32%, 49%) ;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: Medium;
        border-radius: 20px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }
    
    .try-now .free{
        font-family: sBold;
    }
    
    
    .right .login{
        border-radius: 10px;
        background-color: white;
        width: 70%;
        padding: 10% 15% 10% 15%;
        height: min-content;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
    .login div{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    
    .login input{
        border: 1px solid hsl(246, 25%, 77%);
        font-family: Medium;
        width: 90%;
        height: 50px;
        border-radius: 10px;
        padding-left: 10%;
    }
    
    
    .login div input::placeholder{
        color: hsl(249, 10%, 26%) ;
    }
    
    .login img{
        display: none;
        width: min-content;
        height: min-content;
        position: absolute;
        top: 15%;
        left: 90%;
    }
    
    .right .login p{
        color: hsl(246, 25%, 77%);
        font-size: 13px;
    }
    
    .right .login  p span{
        color: hsl(248, 32%, 49%);
    }
    
    .submit{
        background-color: hsl(154, 59%, 51%);
        height: 60px;
        border-radius: 10px;
        color: white;
        width: 100%;
        font-family: Medium;
        font-size: large;
        font-weight: normal;
        letter-spacing: 1px;
    }
    
    .submit:hover{
        opacity: 0.5;
    }
    
    
    .error{
        position: relative;
        left: 55%;
        width: fit-content;
        font-size: 13px;
        color: hsl(0, 100%, 74%) !important;
        display: none;
    }
    
    .laste{
        text-align: center;
        font-size: 12px;
        color: hsl(246, 25%, 77%);
    }
    
    .terms{
        font-family: sBold;
        color: hsl(0, 100%, 74%);
    }
}

@media screen and (max-width: 768px) {
    .root_inner{
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
        gap: 40px;
        width: 90%;
        height: max-content;
    }
    
    .root{
        background-image: url("./images/bg-intro-mobile.png");
        background-color: hsl(0, 100%, 74%);
        background-size: cover;
    }
    
    
    .root_inner .left{
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        color: white;
    
    }
    
    .root_inner .left h1{
        font-size: 28px;
        font-family: Bold;
    }
    
    .right{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
    
    .right .try-now{
        padding: 5% 5% 5% 5%;
        text-align: center;
        width: 90%;
        height: 60px ;
        background-color: hsl(248, 32%, 49%) ;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-family: Medium;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .breakline::before{
        content: "\a";
        white-space: pre;
    }
    
    .try-now .free{
        font-family: sBold;
    }
    
    
    .right .login{
        border-radius: 10px;
        background-color: white;
        width: 70%;
        padding: 10% 15% 10% 15%;
        height: min-content;
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    
    .login div{
        position: relative;
        display: flex;
        flex-direction: column;
    }
    
    
    .login input{
        border: 1px solid hsl(246, 25%, 77%);
        font-family: Medium;
        width: 90%;
        height: 50px;
        border-radius: 5px;
        padding-left: 10%;
    }
    
    
    .login div input::placeholder{
        color: hsl(249, 10%, 26%) ;
    }
    
    .login img{
        display: none;
        width: min-content;
        height: min-content;
        position: absolute;
        top: 15%;
        left: 90%;
    }
    
    .right .login p{
        color: hsl(246, 25%, 77%);
        font-size:13px;
    }
    
    .right .login  p span{
        color: hsl(248, 32%, 49%);
    }
    
    .submit{
        background-color: hsl(154, 59%, 51%);
        height: 60px;
        border-radius: 10px;
        color: white;
        width: 100%;
        font-family: Medium;
        font-size: large;
        font-weight: normal;
        letter-spacing: 1px;
    }
    
    .submit:hover{
        opacity: 0.5;
    }
    
    
    .error{
        position: relative;
        left: 30%;
        width: fit-content;
        font-size: 13px;
        color: hsl(0, 100%, 74%) !important;
        display: none;
    }
    
    .bottom{
        text-align: center;
    }
    
    .laste{
        font-size: 12px;
        color: hsl(246, 25%, 77%);
    }
    
    .terms{
        font-family: sBold;
        color: hsl(0, 100%, 74%);
    }
}






input[type="text"]:hover ,input[type="text"]:focus , input[type="password"]:hover , input[type="password"]:focus{
    color: black;
    border:  1px solid hsl(249, 10%, 26%);
}

input[type="text"]:focus , input[type="password"]:focus{
    color: black !important;
    border:  1px solid hsl(249, 10%, 26%) !important;
}

input[type="text"]:valid,input[type="password"]:valid{
    color: hsl(249, 10%, 26%) !important;
}

.invalid::placeholder{
    color: hsl(0, 100%, 74%) !important;
    
}
